---
import Cart from "../../../public/icons/Cart.astro";

interface Props {
    product: string;
}

const { product } = Astro.props;
---

<button class={product}>
    <span id="normal">Add</span><span id="product">Add to cart</span>
    <span id="svg"><Cart /></span>
</button>

<style>
    button {
        width: 90%;
        height: 100%;
        font-family: "San Francisco";
        font-size: inherit;
        font-weight: bold;
        font-style: italic;
        background-color: #00d46b;
        border: 1px solid #000;
        color: #000;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 12px;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }

    #product {
        display: none;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        background: #24ff92;
        border: 1px solid #ddd;
    }

    .yes {
        font-size: 1.5rem;
    }

    .yes #product {
        display: block;
        color: #000;
    }

    .yes #normal, .yes #svg {
        display: none;
    }
</style>
