<button>
    Buy now
</button>

<style>
    button {
        width: 90%;
        height: 100%;
        font-family: "San Francisco";
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        background-color: #e1ff91;
        border: 1px solid #000;
        color: #000;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 12px;
        justify-content: space-around;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        background: #ccff3f;
        border: 1px solid #ddd;
    }
</style>
