<button>
    Log In
</button>

<style>
    button {
        font-family: 'San Francisco';
        font-size: inherit;
        font-weight: bold;
        font-style: italic;
        background-color: transparent;
        border: 1px solid #ddd;
        color: #E1FF91;
        padding: 7px 20px;
        box-sizing: border-box;
        border-radius: 12px;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        background: #00D46B;
        border: 1px solid #000;
    }
</style>