<button> Log In </button>

<style>
    button {
        font-family: "San Francisco";
        font-size: inherit;
        font-weight: bold;
        font-style: italic;
        background-color: transparent;
        border: 1px solid #ddd;
        color: #e1ff91;
        padding: 7px 20px;
        box-sizing: border-box;
        border-radius: 12px;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        background: #00d46b;
        border: 1px solid #000;
    }
</style>
