---
import Menu from "../../../public/icons/Menu.astro";

interface Props {
    padding?: string
}

const { padding } = Astro.props;
---

<button class={padding}>
    <Menu size="30" />
</button>

<style>
    button {
        background-color: transparent;
        border: none;
        box-sizing: border-box;
        width: 170px;
    }

    .yes {
        padding-right: 30px;
    }
</style>