---
import Menu from "../../../public/icons/Menu.astro";
---

<button>
    <Menu size="30" />
</button>

<style>
    button {
        background-color: transparent;
        border: none;
        box-sizing: border-box;
        width: 170px;
    }
</style>