---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kiwi | Not foud">
    <section class="content">
        <h1>404 NOT FOUND</h1>
        <h2>Oops! It seems like the page you're looking for could not be found.</h2>
        <p>
            Don't worry, our kiwis are working hard to locate it. In the meantime, we invite you to explore other sections of our website to discover exciting products and content.
        </p>
        <p>
            If you think this is an error, please <a href="/support">contact</a> us so we can resolve it as soon as possible.
        </p>
        <p class="last-p">
            Thank you for your understanding and patience!
        </p>
        <img src="/kiwi-gift.gif" />
    </section>
</Layout>

<style>
    .content {
        text-align: center;
        text-wrap: pretty;
        color: #ddd;
    }

    h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color: #B6E98C;
        text-shadow: 5px 5px #17210f;
    }

    img {
        width: 80%;
        margin: auto;
    }

    .last-p {
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    a {
        color: #B6E98C;
    }
</style>

