---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kiwi | Privacy & Terms">
    <section class="content">
        <h2>Terms and Conditions</h2>
        <h3>Use of the Website</h3>
        <p>
            By accessing and using our website, you agree to comply with these terms and conditions. If you do not agree with any of these terms, please do not use our site.
        </p>
        <h3>Intellectual Property</h3>
        <p>
            All intellectual property rights related to the products, content, and design of this website are owned by the company. Copying, reproducing, or distributing any content is not permitted without our prior written consent.
        </p>
        <h3>Purchase of Products</h3>
        <p>
            By making a purchase through our website, you agree to the terms and conditions of sale specified during the checkout process. We reserve the right to refuse or cancel orders at any time at our discretion.
        </p>
        <h3>Product Warrantly</h3>
        <p>
            All our products are covered by a limited warranty. Please refer to the specific warranty information provided with each product for details and warranty terms.
        </p>
        <h3>Return Policy</h3>
        <p>
            We accept returns within a specified period after purchase, subject to certain conditions. Please refer to our return policy on our website for more details.
        </p>

        <br>

        <h2>Privacy Policy</h2>
        <h3>Information Collected</h3>
        <p>
            We collect personal information such as name, email address, and shipping address when you make a purchase through our website. We also collect non-personal information such as browsing data and product preferences.
        </p>
        <h3>Use of Information</h3>
        <p>
            We use the information collected to process your orders, provide customer support, improve our products and services, and send marketing communications if you have consented to receive them.
        </p>
        <h3>Information Security</h3>
        <p>
            We implement security measures to protect your personal information against loss, misuse, and unauthorized access. However, we cannot guarantee the absolute security of information transmitted over the Internet.
        </p>
        <h3>Disclosure of Information</h3>
        <p>
            We do not share your personal information with third parties, except in limited cases such as payment processing or legal compliance.
        </p>
        <h3>Cookies</h3>
        <p>
            We use cookies and similar technologies to enhance the user experience on our website and collect information about site usage. You can adjust cookie settings in your browser at any time.
        </p>
    </section>
</Layout>

<style>
    .content {
        text-wrap: pretty;
        color: #ddd;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color: #B6E98C;
        text-shadow: 5px 5px #17210f;
        text-align: center;
    }

    h3 {
        margin-bottom: 30px;
        font-size: 2rem;
    }

    p {
        margin-top: -15px;
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1050px) {
        p {
            font-size: 1.3rem;
        }
    }
</style>