---
import Brand from "./Brand.astro";
---

<section class="content">
    <h2>Brands</h2>
    <section class="cards">
        <Brand href="/" img="../../../public/kiwi.png" />
        <Brand href="https://zowie.benq.eu" img="../../../public/zowie.png" />
        <Brand
            href="https://logitech.com"
            img="../../../public/logitech.webp"
        />
        <Brand href="https://row.hyperx.com" img="../../../public/hyperx.png" />
    </section>
</section>

<style>
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .content {
        text-align: center;
        margin-top: 60px;
    }

    h2 {
        font-size: 2.1rem;
        color: #b5e98a;
        text-shadow: 2px 2px #000;
    }

    .break {
        display: none;
    }

    @media screen and (max-width: 880px) {
        .cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
    }
</style>
