---
interface Props {
    brand: string;
    margin?: string;
}

const { brand, margin } = Astro.props;
---

<div class={margin}>
    {brand}
</div>

<style>
    div {
        width: min-content;
        padding: 5px 20px;
        font-weight: bold;
        font-size: small;
        background: #aaa;
        border: 1px solid #fff;
        border-radius: 12px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 3px#aaa;
    }

    .yes {
        margin-right: 20px;
    }
</style>
