---
interface Props {
    href: string;
    img: string;
    padding?: string;
}

const { href, img, padding } = Astro.props;
---

<a id={padding} href={href} class="brand-card" target="_blank" rel="noreferrer noopener">
    <img class="brand-img" src={img} />
</a>

<style>
    .brand-card {
        width: 90%;
        height: 120px;
        margin: auto;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 20px;
        transition: 500ms padding;
        background: linear-gradient(#dbdbdb, #00d36b);
    }

    #yes {
        margin-bottom: 20px;
    }

    .brand-img {
        height: 80px;
        transition: 500ms height;
    }

    .brand-card:hover .brand-img {
        height: 95px;
    }

    .brand-card:hover {
        padding: 12px;
    }

    .break {
        display: none;
    }

    @media screen and (max-width: 880px) {
        .brand-card {
            margin-bottom: 20px;
        }
    }
</style>
