---
import Brand from "./Brand.astro";
---

<section class="content">
    <h2>Brands</h2>
    <section class="cards">
        <Brand href="/" brand="kiwi">
            <img class="brand-img" src="../../../public/kiwi.png" />
        </Brand>
        <Brand href="https://zowie.benq.eu" brand="zowie">
            <img class="brand-img" src="../../../public/zowie.png" />
        </Brand>
        <Brand href="https://logitech.com" brand="logitech">
            <img class="brand-img" src="../../../public/logitech.webp" />
        </Brand>
        <Brand href="https://row.hyperx.com" brand="hyperx">
            <img class="brand-img" src="../../../public/hyperx.png" />
        </Brand>
    </section>
</section>

<style>
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .content {
        text-align: center;
        margin-top: 60px;
    }

    h2 {
        font-size: 2.1rem;
        color: #b5e98a;
        text-shadow: 2px 2px #000;
    }

    .break {
        display: none;
    }

    .brand-img {
        height: 80px;
    }

    @media screen and (max-width: 880px) {
        .cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
    }
</style>
