<div class="page-info">
    <slot />
</div>

<style>
    .page-info {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    @media screen and (max-width: 1150px) {
        .page-info {
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 1050px) {
        .page-info {
            font-size: 0.98rem;
        }
    }

    @media screen and (max-width: 955px) {
        .page-info {
            font-size: 0.98rem;
        }
    }

    @media screen and (max-width: 880px) {
        .page-info {
            font-size: 1.04rem;
        }
    }
</style>