---
import MouseSet from "../../components/products/MouseSet.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kiwi | Mouses">
    <h1>MOUSE</h1>
    <MouseSet />
</Layout>
